<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ad</title>

    <link rel="stylesheet" th:href="@{/css/index.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid" style="display: flex; justify-content: space-between">
        <a class="navbar-brand">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Favorites</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Posts</a></li>
                        <li><a class="dropdown-item" href="#">Messages</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Log out</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">New post</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--/*thymesVar id="ad" type="app.olx-clone.domain.Ad"*/-->
<div>
    <h2 style="text-align: left; padding: 30px 0px 20px 0px; margin-left: 10%">Publish new ad</h2>

    <form th:object="${ad}" th:action="@{/ad/}" method="post">
        <!--
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Please correct errors below</p>
        </div>
        -->
        <input type="hidden" th:field="*{id}"/>
        <div class="panel">
            <div th:class="${#fields.hasErrors('title')} ? 'is-invalid' : ''">
                <label>Ad Title</label>
                <input type="text" class="form-control form-control-lg" th:field="*{title}" th:errorclass="is-invalid" style="width: 60%"/>
                <span th:class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                    <ul>
                        <li th:each="err : ${#fields.hasErrors('title')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
            <div th:class="${#fields.hasErrors('title')} ? 'is-invalid' : ''">
                <label>Category</label>
                <select class="form-control form-control-lg" th:field="*{category}" style="width: 40%">
                    <option th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:text="${cat.description}">
                    </option>
                </select>
            </div>
        </div>

        

        <div class="panel">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>

</body>
</html>