<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/index.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid" style="display: flex; justify-content: space-between">
            <a class="navbar-brand" th:href="@{'/'}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Favorites</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Posts</a></li>
                            <li><a class="dropdown-item" href="#">Messages</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/ad/new'}">New post</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="background-color: white; margin-top: 20px">
        <h2 class="title">Main Categories:</h2>
        <div style="padding-bottom: 20px">
            <div class="categories" style="display: flex; justify-content: center; flex-wrap: wrap">
                <a th:each="category : ${categories}" class="category">
                    <img th:src="@{'/images/' + ${category.getDescriptionToUrl()} + '.png'}" class="category-img">
                    <span th:text="${category.description}" ></span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <h2 class="title">ADS:</h2>
        <div class="ads">
            <div th:each="ad : ${ads}" class="ad-home">
                <img th:src="@{'/' + ${ad.Id} + '/firstImage'}">
                <p th:text="${ad.title}"></p>
                <p th:text="${ad.price}"></p>
            </div>
        </div>
    </div>
</body>
</html>